<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
 	<typeAliases>
		<typeAlias type="com.massel.www.domain.UserVO" alias="uvo" />
		<typeAlias type="com.massel.www.domain.UserImgVO" alias="uivo" />
		<typeAlias type="com.massel.www.domain.DemandSurveyVO" alias="dsvo" />
		<typeAlias type="com.massel.www.domain.DemandSurveyProductVO" alias="dspvo" />
		<typeAlias type="com.massel.www.domain.DemandSurveyImgVO" alias="dsivo" />
		<typeAlias type="com.massel.www.domain.ChatRoomVO" alias="crvo" />
		<typeAlias type="com.massel.www.domain.ChatVO" alias="cvo" />
		<typeAlias type="com.massel.www.domain.DemandSurveyParticipationVO" alias="dsppvo" />
		<typeAlias type="com.massel.www.domain.SaleVO" alias="svo" />
		<typeAlias type="com.massel.www.domain.SaleImgVO" alias="sivo" />
		<typeAlias type="com.massel.www.domain.SaleProductVO" alias="spvo" />
		<typeAlias type="com.massel.www.domain.SaleProductImgVO" alias="spivo" />
		<typeAlias type="com.massel.www.domain.SaleShipmentVO" alias="ssvo" />
		<typeAlias type="com.massel.www.domain.SaleSellerVO" alias="slvo" />
		<typeAlias type="com.massel.www.domain.SaleOrdererVO" alias="sovo" />		
		<typeAlias type="com.massel.www.domain.SaleOrdererInfoDTO" alias="soidto" />
		<typeAlias type="com.massel.www.domain.SaleFavoriteVO" alias="sfvo" />
		<typeAlias type="com.massel.www.domain.NotificationVO" alias="nvo" />	
	</typeAliases>
</configuration> 