<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybist.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd/">
<mapper namespace="com.massel.www.repository.ChatDAO">
	<insert id="insertChat">
		insert into chat (room_id, sender, recipient, content, send_date) values (#{roomId},#{sender}, #{recipient},#{content}, NOW())
	</insert>
	<select id="getChatHistory" resultType="cvo">
		select * from chat where room_id = #{roomId} order by send_date asc;
	</select>
	<select id="getLastChat" resultType="cvo">
		select * from chat where room_id = #{roomId} order by send_date desc LIMIT 1
	</select>
	<select id="getLastMessageId" resultType="int">
		SELECT LAST_INSERT_ID()
	</select>
</mapper>