<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybist.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd/">
<mapper namespace="com.massel.www.repository.DemandSurveyProductDAO">
	<insert id="registerProductList">
		insert into demand_survey_product (dno, dpname, dpprice) values (#{dno},#{dpname},#{dpprice})
	</insert>
	<select id="getProductList" resultType="dspvo">
		select * from demand_survey_product where dno = #{dno} order by dpno asc
	</select>
	<select id="getProduct" resultType="dspvo">
		select * from demand_survey_product where dpno = #{dpno}
	</select>
	<delete id="deleteOriginal">
		delete from demand_survey_product where dno = #{dno}
	</delete>
</mapper>