<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybist.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd/">
<mapper namespace="com.massel.www.repository.SaleDAO">
	<insert id="registerSale">
		insert into sale (swriter, stitle, sdetail, category, start_date, end_date,
		full_date, refund_message, shipping_instructions, status) values (#{swriter},#{stitle},#{sdetail},#{category},#{startDate},#{endDate},
		#{fullDate},#{refundMessage}, #{shippingInstructions}, #{status})
	</insert>
	<select id="getSno" resultType="int">
		select max(sno) from sale
	</select>
	<select id="getList" resultType="svo">
		select sno, stitle, swriter, category, view_count, favorite_count from sale 
		where is_del = 0 and is_end = false 
		order by sno desc
	</select>
	<select id="getSaleDetail" resultType="svo">
		select * from sale where sno = #{sno}
	</select>
	<update id="updateFavoriteCount">
		update sale set favorite_count = favorite_count + #{count} where sno = #{sno} 
	</update>
	<select id="getFavoriteCount" resultType="int">
		select favorite_count from sale where sno = #{sno}
	</select>
	<update id="updateReadCount">
		update sale set view_count = view_count+1 where sno = #{sno}
	</update>
	<select id="getMySaleList" resultType="svo">
		select * from sale where swriter = #{userID} order by sreg_date desc
	</select>
	<select id="getSaleFormList" resultType="svo">
		select sno, start_date, end_date, status from sale where status != #{endStatus}
	</select>
	<update id="updateStatus">
		update sale set status = #{status} where sno = #{sno}
	</update>
	<select id="getPopularSvo" resultType="svo">
		select * from sale where is_del = 0 order by view_count desc limit 5
	</select>
	<select id="getFavoriteList" resultType="svo">
		select * from sale where is_del = 0 order by favorite_count desc limit 5
	</select>
	<select id="getLatestList" resultType="svo">
		select * from sale where is_del = 0 order by sreg_date desc limit 10 
	</select>
	<update id="updateSale">
		update sale set stitle = #{stitle}, sdetail = #{sdetail}, category = #{category},
		start_date = #{startDate}, end_date = #{endDate}, refund_message = #{refundMessage},
		full_date = #{fullDate}, shipping_instructions = #{shippingInstructions}, status = #{status}
		where sno = #{sno}
	</update>
	<update id="deleteSale">
		update sale set is_del = 1 where sno = #{sno}
	</update>
	<delete id="removeSale">
		delete from sale where sno = #{sno}
	</delete>
	<select id="getSaleSearchList" resultType="svo">
		select * from sale where stitle like concat('%', #{keyword}, '%') and is_del = 0 order by sreg_date desc
	</select>
	<select id="getSvoDetail" resultType="svo">
		select * from sale where sno = #{sno} and is_del = 1 order by sreg_date desc
	</select>
	<select id="getSalesFirst" resultType="svo">
		select sno, stitle, swriter,status, is_del, view_count, favorite_count from sale order by sno desc limit #{pageSize}
	</select>
	<select id="getSalesAfterId" resultType="svo">
		<![CDATA[
			select sno, stitle, swriter,status, is_del, view_count, favorite_count from sale where sno < #{cursorId} order by sno desc limit #{pageSize}
		]]> 
	</select>
	<select id="getPagingList" resultType="svo">
		select a.sno, stitle, swriter, status, is_del, view_count, favorite_count from(
		select sno from sale
		order by sno desc
		limit #{startPage}, #{qty} 
		)a left join sale b
		on a.sno = b.sno
	</select>
	<select id="getTotalCount" resultType="int">
		select count(sno) from sale
	</select>
	<select id="getLastInsertedSno" resultType="int">
		select last_insert_id();
	</select>
</mapper>