<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybist.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd/">
<mapper namespace="com.massel.www.repository.SaleProductDAO">
	<insert id="registerSaleProduct">
		insert into sale_product (sno, spname, spprice, max_order_quantity, stock) values (#{sno},#{spname},#{spprice}, #{maxOrderQuantity}, #{stock})
	</insert>
	<select id="getProductList" resultType="spvo">
		select * from sale_product where sno = #{sno}
	</select>
	<select id="getProduct" resultType="spvo">
		select * from sale_product where spno = #{spno}
	</select>
	<update id="updateStock">
		update sale_product set stock = stock - #{count} where spno = #{spno}
	</update>
	<select id="getLastSpno" resultType="int">
		select last_insert_id();
	</select>
	<delete id="deleteProduct">
		delete from sale_product where sno = #{sno}
	</delete>
</mapper>
