<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybist.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd/">
<mapper namespace="com.massel.www.repository.SaleProductImgDAO">
	<insert id="registerProductImg">
		insert into sale_product_img (sno, spno, uuid, save_dir, file_name, file_type, file_size)
		values (#{sno}, #{spno}, #{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{fileSize})
	</insert>
	<select id="getProductImg" resultType="spivo">
		select * from sale_product_img where spno = #{spno} and file_type= 1 
	</select>
</mapper>
