@font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
input{
	border: 1px solid #ccc;
	font-family: 'MinSans-Regular';
}

textArea{
	font-family: 'MinSans-Regular';
}

select{
	border: 1px solid #ccc;
}

button{
	font-family: 'MinSans-Regular';
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    box-sizing: border-box;
}


.chatListContent {
    max-width: 600px;
    width: 100%;
}

.title{
	display: flex;
	height: 70px;
	background-color: #beaae9;
	justify-content: center; 
    align-items: center; 
    width: 100%;
}

.titleText{
	font-size: 50xp;
	
}

.chatRoomList {
    list-style-type: none;
    padding: 0;
}

.chatRoom {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.chatRoom:hover {
    background-color: #f5f5f5;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profilePic img {
    width: 100%;
    height: auto;
}

.chatInfo {
    flex-grow: 1;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newMessage {
    color: red;
    font-weight: bold;
}

.lastMessage {
    color: #555;
    font-size: 14px;
}

.lastMessageTime {
    font-size: 0.8em;
    color: #999;
}

.newChat {
    background-color: #beaae9;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
