@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

li{
	list-style: none;
}

a{
	color: black;
	text-decoration: none;
	
}

a:visited{
	color: black;
	text-decoration: none;
}
a:link{
	color: black;
	text-decoration: none;
}

.wrapper {
    display: flex;
    min-height: 100vh;
}

.sideBar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 80px;
    font-family: Arial, sans-serif;
}


.sideBarContent {
    padding: 10px;
}


.sideBarContent > div {
    margin-bottom: 30px;
}


.myInfoTop, .sellerTop, .buyerTop {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 10px;
}


.sideBarContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sideBarContent ul li {
    margin: 10px 0;
}


.sideBarContent ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.sideBarContent ul li a:hover {
    background-color: #beaae9;

    color: white;
    font-weight: bold;
}


.sideBarContent ul li a.active {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
}

.content {
    width: 100%;
    flex: 1;
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
    position: relative;
    margin-top: 80px;
    
}

/* 중앙에 큰 박스 */
.centerBox {
    width: 900px;
    background-color: white;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.1); */
	/* margin-top: 80px; */
	/* border: 1px solid black; */
}

.thumbnail{
	width: 200px;
	height: 200px;
	background-color: #f1f1f1;
	border-radius: 8px;
	cursor: pointer;
}

.registerFile{
	width: 70px;
	height: 35px;
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	cursor: pointer;
}