@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

li{
	list-style: none;
}

.sideBar {
    width: 200px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 80px;
}


.sideBarContent {
    padding: 10px;
}


.sideBarContent > div {
    margin-bottom: 30px;
}


.myInfoTop, .sellerTop, .buyerTop {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 10px;
}


.sideBarContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sideBarContent ul li {
    margin: 10px 0;
}


.sideBarContent ul li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.sideBarContent ul li a:hover {
    background-color: #beaae9;

    color: white;
    font-weight: bold;
}


.sideBarContent ul li a.active {
    background-color: #0056b3;
    color: white;
    font-weight: bold;
}


.content {
    width: 100%;
    flex: 1;
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
    position: relative;
    margin-top: 80px;
 
}

/* 중앙에 큰 박스 */
.centerBox {
    width: 900px;
    background-color: white;

}

.top{
	display: flex;
}


.top-img img{
	width: 130px;
	height: 130px;
	object-fit : cover;
	border-radius: 5px;
}

.top-title{
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
}

.top-btn{
	margin-left: 50px;
}

.top-btn button{
	border: none;
	border-radius : 6px;
	width: 100px;
	height: 40px;
	margin-right: 20px;
	margin-top: 60px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.top-btn button:hover{
	background-color: #beaae9;
	color: white;
}

.bottom{
	margin-top: 30px;
	width: 700px;
}

.bottom>div{
	margin-top: 10px;
}

.paticipation{
border-top: 1px solid #ccc;	
}

.participationProduct{
	border-top: 1px solid #ccc;	
}

.infoTitle{
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;

}

.bottom ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    list-style: none;
}

.bottom ul li {
    margin-right: 10px;
}


/*주문상태*/

.orderStatusDiv{
	width: 100%;
}

.payment_pending{

    
}
.pending_title{
	display: flex;
	align-items: center;
}

.pending_text{
	font-size: 20px;
	font-weight: bold;
}

.pending_btn{
	margin-left: 20px;
}

.pending_btn button{
	margin-left: 15px;
	border-radius: 20px;
	width: 100px;
	height: 40px;
	cursor: pointer;
}

.sellerInfo{
	width: 100%;
	background-color: #ccc;
	border-radius: 7px;
	padding: 10px;
	margin-top: 10px;
}

.bankName, .account, .accountHolder{
	display: flex;
	margin-top: 10px;
}

.bname, .bholder{
	margin-right: 80px;
	color: gray;
}

.baccount{
	margin-right: 65px;
	color: gray;
}

.payment_canceled{
	width: 100%;
	height: 50px;
	border: 1px solid black;
	border-radius: 7px;
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	align-items: center; 
    justify-content: center; 
    display: flex;
}



/*배송단계*/
.progress {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.step {
    text-align: center;
    color: #aaa;
}

.step .circle {
    width: 30px;
    height: 30px;
    border: 2px solid #aaa;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.circle {
	margin-top: 10px;
}

/*완료된 단계에 색깔을 칠해줌*/
.step.completed .circle {
	background-color: #beaae9;
    border-color: #beaae9;
}

.step.completed p{
	color: black;
}

.step-content{
	display: flex;
}

.fa-circle-exclamation{
	margin-top: 19px;
	margin-left: 3px;
	cursor: pointer;
}

/*모달창*/
.modal-confirm {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.modal-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}


.modal-text {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;
}

.close-confirm, .close-cancle {
    padding: 12px 0;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    background-color: #ff6666;
    color: #fff;
    transition: background-color 0.3s;
}

.close-confirm:hover{
    background-color: #ff4d4d;
}

.close-cancle:hover{
	background-color: #ff4d4d;
}


.modal-cancle {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


/*배송관련안내*/
.completedIcon {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    background-color: rgba(211, 211, 211, 0.9);
    color: rgba(50, 50, 50, 0.9); 
    padding: 15px;
    border-radius: 8px;
    position: absolute;
    top: 130%; 
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    font-size: 14px;
}


.tooltip::after {
    content: "";
    position: absolute;
    top: -10px; 
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px; 
    border-style: solid;
    border-color: transparent transparent rgba(211, 211, 211, 0.9) transparent;
}


.completedIcon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}