@charset "UTF-8";
 @font-face {
    font-family: 'MinSans-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
li{
	list-style-type: none;	
}

body {
	margin: 0;
	padding: 0;
	font-family: 'MinSans-Regular';
}

input{
	border: 1px solid #ccc;
}

select{
	border: 1px solid #ccc;
}

input:focus {
	outline: none;

}

a{
	color: black;
	text-decoration: none;
	
}

a:visited{
	color: black;
	text-decoration: none;
}
a:link{
	color: black;
	text-decoration: none;
}

textarea:focus {
	outline: none;
}

.topHeaderWrapper {
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.topHeader {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topHeader-arrow {
    position: absolute;
    left: 170px;
    display: flex;
    align-items: center;
}

.topHeader-title {
    text-align: center;
    margin: 0 auto;
}
.wrap{
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
	background-color: #ebebeb;
}

.saleContent{
	width: 1000px;
	padding-top : 80px;

}

/* 썸네일폼 상단 제목 */
.saleTitle{
	height: 100px;
	background-color: #f9f9f9;
	font-size: 25px;
	font-weight: normal;
	padding-top: 30px;
	padding-left: 30px;
	border-radius: 5px;
}

.title0{
 	margin-top: 30px;
	margin-left: 25px;
}

/* 썸네일, 기간, 카테고리 div */
.div1{

	width: 1007px;
	height : 1500px;
	background-color: white;
	padding-top: 5px;
	margin-bottom: 10px;	
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
	top: -10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.div1Top{
	display: flex;
}

.saleInfoTitle{
	width: 100%;
	height : 30px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 40px;
	border-left: 8px solid #555555;
    border-top-right-radius: 10px; 
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;
}

.saleInfoTitle>div{
	margin-left: 30px;
	margin-top : 3px;
	font-size: 19px;
}


/*썸네일  */
.thumbnail{

}
.thumbnailDiv {
  flex: 1;
  margin-right: 20px;
  margin-left: 50px;
  margin-top : 50px;
  width: 400px;
  height: 300px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
   align-items: center;
cursor: default;
}

.thumbnailArea{
	width : 300px;
	height: 300px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 10px;   
    cursor: pointer; 
}

.thumbNailInfo{
	margin-left: 130px;
	font-size: 12px;
	color: #adadad;
	cursor: default;
}

.simg{
	width: 300px;
	height: 300px;
	object-fit : cover;

}

/*오른쪽구역  */
.right-section {
  margin-top : 30px;
  margin-left : 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

 /* 카테고리 */

.categoryArea{
	margin-top : 10px;
	width: 470px;
	height: 100px;
	padding-bottom: 5px;
}

.categoryTitle>p{
	cursor: default;
	font-weight: bold;
	color: #424242;
	font-size: 16px;
	
}

#categorySelect{
	width: 360px;
	height: 35px;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
}


/* 기간  */
.date{
	margin-top : 10px;
	width: 450px;
	height: 210px;
}

.startDatep, .endDatep{
	cursor: default;
	font-weight: bold;
	color: #424242;
	font-size: 16px;
}

.endDate{
	padding-top: 7px;
}

#startDay, #endDay{
	width: 150px;
	height: 35px;
	margin-right: 10px;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

#startHour, #startMinute, #endHour, #endMinute{
	width: 60px;
	height: 35px;
	border-radius: 3px;
	padding-left: 7px;
	padding-right: 7px;
}

#startMinute,#endMinute{
	margin-left: 10px;
}


.hourtext, .minutetext{
	font-size: 13px;
}

/* ============== 기간 설정 달력 ================ */

.ui-datepicker {
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

/* 달력 헤더 */
.ui-datepicker-header {
    background-color: #beaae9;
    color: #fff;
    border-radius: 6px 6px 0 0;
    padding: 10px 0;
    text-align: center;
}

/* 이전, 다음 버튼 */
.ui-datepicker-prev, .ui-datepicker-next {
    color: #fff;
    cursor: pointer;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
    color: #fff; 
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

/*요일*/
.ui-datepicker th {
    color: #666;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
}

.ui-datepicker td {
    padding: 8px;
      border: none;
}

.ui-datepicker .ui-state-default {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.2s;
	border: none;
}

.ui-datepicker .ui-state-default:hover {
    background-color: #beaae9;
}

.ui-datepicker .ui-state-active {
    background-color: #beaae9;
    color: #fff;
    border-radius: 4px;
}

/* 오늘 날짜 */
.ui-datepicker .ui-state-highlight {
    background-color: #f1f1f1;
    color: #333;
}

/* =================폼 제목 ==================== */

.title{
	height: 100px;
	margin-left: 20px;
	background-color: white;
}

.titleText{
	margin-top : 10px;
	margin-left: 70px;
	font-weight: bold;
	cursor: default;
	color: #424242;
	font-size: 16px;
}

.titleinput{
	margin-top: 8px;
}

.stitle{
	margin-top : 10px;
	margin-left: 70px;
	height: 35px;
	width : 765px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3px;
}

/* 에디터 */

.editorDiv{
	height: 600px;
	margin-left: 20px;
}

.editorTitle{
	margin-top: 10px;
	margin-left: 70px;
	font-weight: bold;
	cursor: default;
	color: #424242;
	font-size: 16px;
}

.editorContent{
	margin-top: 10px;
	margin-left: 50px;
}

.note-editor{
	width: 800px;
	margin-left : 20px;
	overflow: hidden;
	border : 1px solid #ccc;
	padding: 10px;
}

.note-resizebar {
    display: none;
}

.productInfo{
	width: 100%;
	margin-top: 35px;
}

.productInfoTitle{

	width: 100%;
	height : 30px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 40px;
	border-left: 8px solid #555555;
    border-top-right-radius: 10px; 
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;

}

.productInfoTitle>div{
	margin-left: 30px;
	margin-top : 3px;
	font-size: 19px;
}

.saleProductDiv{
	width: 1007px;
	background-color: white;
	padding-top: 5px;
	margin-bottom: 20px;
	padding-bottom : 10px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
	top: -10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.saleProductBox{
	background-color: #f0f0f0;
	width: 600px;
	border-radius: 9px;
	padding: 10px;
	margin-left: 200px;
	margin-top: 30px;	
	position: relative;
}

.productDelBtnWrap{
	position: absolute;
	left: 600px;
	top: -9px;
	border-radius: 50%;
	background-color: white;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.productDelBtnWrap:hover{
	background-color: rgba(255, 99, 71, 0.7);
}

.productDelBtn{
	background: none;
	border: none;
	cursor: pointer;
	transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.boxWrapper{
	display: flex;
}

.productImgWrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: auto;
}

.productImg{
	width: 130px;
	height: 130px;
	background-color: #ccc;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 35px;
	margin-left: 15px;
}

.fa-image{
	font-size: 30px;

}

.productContent{
	margin-left: 25px;
}

.productNameDiv, .productPriceDiv,
.productStockDiv, .productLimitDiv{
	display: flex;
	margin-top: 10px;
	 align-items: center;
}

.productContent input{
	width: 300px;
	height: 35px;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
}

.pNameInput{
	margin-left: 45px;
}

.pPriceInput{
	margin-left: 59px;
}

.pStockInput{
	margin-left: 58px;
}

.pLimitInput{
	margin-left: 30px;
}

.productAddBtnWapper{
	width : 180px;
	height : 80px;
	margin-left: 720px;
	margin-top: 50px;
}

.productAddBtn{
	width: 100px;
	height: 50px;
	border : none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.productAddBtn:hover{
	background-color: #beaae9;
	color: white;
}

/* 배송 관련*/

.shippingInfo{
	width: 100%;
	margin-top: 35px;
}

.shippingInfoTitle{
	width: 100%;
	height : 30px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 40px;
	border-left: 8px solid #555555;
    border-top-right-radius: 10px; 
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;

}

.shippingInfoTitle>div{
	margin-left: 30px;
	margin-top : 3px;
	font-size: 19px;
}

.shippingMethod{
		width: 1007px;
	background-color: white;
	padding-top: 5px;
	margin-bottom: 10px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
	top: -10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.shippingMethodDiv{

	margin-top: 20px;
	display: flex;
	 flex-direction: column;
	 gap : 8px; 
	 align-items: flex-start;
	 margin-bottom: 20px;
	 padding-bottom: 30px;
	
}

.shippingMethodBox{
	border : 1px solid #f9f9f9;
	width : 660px;
	height: 150px;
	display: flex;
	/* align-items: center; */
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left : 170px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

.shippingName, .shippingPrice{
	margin-top: 20px;
	margin-left: 20px;
}

.nameText, .priceText{
	font-size: 16px;
	margin-top: 5px;
	margin-left: 5px;
	font-weight: bold;
}

.shippingName input{
	width: 350px;
	height: 40px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 7px;
	border-radius: 5px;
}

.shippingPrice input{
	width: 160px;
	height: 40px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 7px;
	border-radius: 5px;
}



#shippingMethodAddBtn{
	width: 180px;
	height: 45px;	
	margin-left: 650px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	
}

#shippingMethodAddBtn:hover{
	background-color: #beaae9;
	color: white;
}

.shippingMethodDelete{
	margin-left: 10px;
	margin-top: 10px;
}

.shippingDeleteBtn{
	cursor: pointer;
	background: none;
	border: none;
}

/*배송예정날짜*/

.shippingExpectedDate{
	margin-left: 50px;
	margin-top: 20px;
	padding-bottom: 20px;
}

.shippingExText{
	margin-top: 10px;
}

#shippingExdate{
	margin-left: 50px;
	cursor: pointer;
	width: 300px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
}

/*배송안내사항*/
.shippingInstructionDiv{
	margin-left: 50px;
	margin-top: 30px;
	
}

.shippingInstructionText{
	margin-top: 30px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
	cursor: default;
	color: #424242;
}

#shippingInstructions{
	margin-left: 50px;
	margin-top : 15px;
	width: 750px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	resize: none;
	border: 1px solid #ccc;
	padding: 15px;

}

/*환불안내사항*/
.refundMessageDiv{
	margin-left: 50px;
	margin-top: 30px;

	
}

.refundMessageText{
	margin-top: 30px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 50px;
	cursor: default;
	color: #424242;
}

#refundMessage{
	margin-left: 50px;
	margin-top : 15px;
	width: 750px;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	resize: none;
	border: 1px solid #ccc;
	padding: 15px;
}

.submitBtn{
	margin-top : 30px;
	margin-bottom : 30px;
	width: 500px;
	height: 50px;
	background-color: white;
	border-radius: 7px;
	cursor: pointer;
	border: none;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.submitBtn:hover{
	background-color: #beaae9;
	color: white;	
}

.submitBtnWrapper{
	display: flex;
	justify-content: center;
	
}


/*상품항목추가 수정버전*/
.listComponentWrapper{
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 630px;
	padding: 10px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    position: relative;
    margin-top: 15px;
    margin-left: 150px;
}

.listComponent{
	display: flex;
	align-items: center;
}

.listComponentImg{
	width: 80px;
	height: 80px;
	border-radius: 4px;
	background-color: #e0e0e0;
    margin-right: 15px;
}

.listComponentContent{
	margin-left: 10px;
	flex-grow: 3; 
}

.listComponentTop{
	display: flex;
	font-size: 15px;
}


.listComponentBottom{
	display: flex;
	font-size: 15px;
}

.listComponentName{
	width: 350px;
	font-size: 15px;
    color: #333;
    margin-bottom: 10px;
}

.listComponentPrice{
	width: 350px;
	font-size: 15px;
    color: #333;
    margin-top: 10px;
   
}

.listComponentStock{
	width: 100px;
    font-size: 15px;
    color: #333;
	margin-left: 10px;
}

.listComponentMax{
	width : 100px;
    font-size: 15px;
    color: #333;
	margin-top: 10px;
	margin-left: 10px;
}

.listComponentBtn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editBtn {
    padding: 5px 10px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.editBtn:hover {
    background-color: #0056b3;
}


.delBtn {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 2px 6px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    transition: background-color 0.3s, opacity 0.3s;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    opacity: 0.8;
}

.delBtn:hover {
    background-color: #c82333;
    opacity: 1;
}


.nameInput, .priceInput, .stockEditInput, .maxEditInput{
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	border-bottom-width: thin;
	font-size: 15px;
	border-bottom-color: #A9A8A8;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom : 10px;
	padding-top : 5px;
	background-color: #f9f9f9;
}

.nameInput, .priceInput{
	width: 300px;
}

.stockEditInput, .maxEditInput{
	width: 50px;
}


/*배송날짜/환불/교환안내*/

.refundTitle{

	width: 100%;
	height : 30px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-top: 40px;
	border-left: 8px solid #555555;
    border-top-right-radius: 10px; 
	background-color: #f9f9f9;
	position: relative;
	z-index: 2;

}

.refundTitle>div{
	margin-left: 30px;
	margin-top : 3px;
	font-size: 19px;
}

.refundContent{

	width: 1007px;
	background-color: white;
	padding-top: 5px;
	margin-bottom: 10px;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
	top: -10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
	padding-bottom: 25px;
}


/*판매자 계좌정보*/

.sellerInfo{
	margin-left: 20px;
	margin-top: 40px;
}

.sellerTitle{
	margin-top: 10px;
	margin-left: 70px;
	font-weight: bold;
	cursor: default;
	color: #424242;
	font-size: 16px;
}
.sellerAccountInfo{
	margin-left: 70px;
	margin-top: 20px;
	border: 1px solid #f1f1f1;
	border-radius: 7px;
	width: 800px;
}

.bankNameDiv, .accountNumberDiv, .accountHolderDiv{
	display: flex;
	font-size: 15px;
	padding: 20px; 
	align-items: center;
}

.accountText{
	margin-right: 40px;
}

.sellerAccountInfo input{
	width: 610px;
	height: 35px;
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

.accountHolder{
	margin-left: 12px;
}